body {
    background-color: black;
    color: var(--cor)
}

.container {
    padding: 50px;
    width: 40%;

}

.container-info {
    box-shadow: 1px 0px 5px;
    border-radius: 5px;
}
.container-climate {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    background-color: #24245a;
}

.time-climate {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
}

.climate {
    font-size: 15px;
}

.time-day {
    font-size: 10px;
}

.container-temp-info {
    display: flex;
    align-items: center;
}

.info-temp {
    display: flex;
    align-items: center;
}

.img-temp {
    margin-right: 10px;
}

.temp-number {
    font-size: 35px;
}

.unit-measurement {
    font-size: 25px;
}

.info-climate {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    margin-left: 30px;
}

.thermal-sensation {
    display: flex;
    align-items: center;
}

.sensation-temp-number {
    margin-left: 15px;
}

.container_more_infos {
    border: 1px solid #ccc;
}

.more_infos {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.legen_info {
    display: flex;
    align-items: center;
}

.legen_info i {
    margin-right: 15px;
    height: 20px;
}