:root {
    --containerBackground: rgba(255, 255, 255, 0.05);
    --boxShadow: 1px 0px 5px
}

body {
    background-color: #24245a;;
    color: var(--cor)
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container-info {
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    width: 45%;
    height: 100%;
}
.container-climate {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    background-color: var(--containerBackground);
    
}

.time-climate {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.climate {
    font-size: 15px;
}

.time-day {
    font-size: 10px;
}

.container-temp-info {
    display: flex;
    align-items: center;
}

.info-temp {
    display: flex;
    align-items: center;
}

.img-temp {
    margin-right: 10px;
}

.temp-number {
    font-size: 35px;
}

.unit-measurement {
    font-size: 25px;
}

.info-climate {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    margin-left: 30px;
}

.thermal-sensation {
    display: flex;
    align-items: center;
}

.sensation-temp-number {
    margin-left: 15px;
}

.more-infos {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.legen-info {
    display: flex;
    align-items: center;
}

.legen-info i {
    margin-right: 15px;
    height: 20px;
}

.container-map {
    background-color: var(--containerBackground);
    width: 50%;
}

.container-map iframe {
    box-shadow: var(--boxShadow);
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.container-day {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 50px;
    
}

.card-temp-day {
    background-color: var(--containerBackground);
    width: 120px;
    height: 150px;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.day {
    display: flex;
    justify-content: space-between;
}
.day span{
    margin: 5px;
    font-size: 18px;
}

.container-weather-day {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    
}

.weather-day {
    font-size: 24px;
}