:root {
  --cor: #f1f1f1;
  --containerBackground: rgba(255, 255, 255, 0.05);
  --boxShadow: 1px 0px 5px;
  --color1: #060606;
  --color2: #16243d;
  --color3: #415a8c;
  --color4: #7398d6;
  --color5: #9eccdf;
}

* {
  margin: 0px;
  padding: 0px;
}
